@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, section{
    background-image: url("../images/interstellar.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Orbitron', sans-serif;
}